.header-content{
    
    padding-top:30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    
}

.header-title{
    font-size: 24px;
    font-family: notosans-bold;
    
}