.white-button{
    border: 1px solid #8d9096;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    height: 36px;
    color:  #111111;
    border-radius: 4px;

}
.white-button:hover{
    background-color: #d2d3d6;
}
.white-button:focus{
    background-color: #d2d3d6;
}
.white-button:active{
    background-color: #bbbcbc;
    
}