.popup-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;

}
.popup-content{
    background-color: #ffffff;
    width: 444px;
    padding: 32px;
    

}
.popup-body{
    display: flex;
    align-items: center;
    padding-bottom: 20px ;
}
.popup-icon{
    cursor: pointer;
    margin-right: 16px;
    width: 48px;
    min-width: 48px;
	height: 48px;
}

.popup-footer{
    
    padding-top: 20px;
    border-top: 1px solid #b8bcc3;
}